@import '../../../../assets//css/utilities/animations.css';

.offcanvas-overlay {
  position: fixed;
  inset: 0;
  background: rgba(45 0 0 / 0.3);
  backdrop-filter: blur(10px);
  z-index: 10;

  &[data-entering] {
    animation: modal-overlay 300ms;
  }

  &[data-exiting] {
    animation: modal-overlay 300ms reverse ease-in;
  }
}

.offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background: var(--white-color);
  outline: none;
  border-left: 1px solid var(--border-color);
  box-shadow: -8px 0 20px rgba(0 0 0 / 0.1);
  padding: 1rem 1rem;

  &[data-entering] {
    animation: mymodal-slide 300ms;
  }

  &[data-exiting] {
    animation: mymodal-slide 300ms reverse ease-in;
  }
}

@keyframes modal-overlay {
  from {
    background: rgba(45, 24, 0, 0);
    backdrop-filter: blur(0);
  }

  to {
    background: rgba(45, 13, 0, 0.3);
    backdrop-filter: blur(10px);
  }
}

@keyframes mymodal-slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
