.skills-experience-section {
  padding: 6rem 0 5rem 0;
}

@media (orientation: landscape) {
  
    .skills-experience-section {
      padding: 15rem 0 5rem 0;
    }
  
}

@media (min-width: 992px) or ((min-width: 992px) and (orientation: landscape)) {
  
    .skills-experience-section {
      padding: 32rem 0 5rem 0;
    }
}
