.skills-experience-section {
  padding-top: 2rem;
  position: relative;
}

@media (min-width: 768px) {
  .skills-experience-section {
    padding-top: 5rem;
  }
}

@media (min-width: 992px) {
  .skills-experience-section {
    padding: 5rem 0 9vw 0;
  }
}
