.app {
  overflow: auto;
  height: 100dvh;
  min-height: 100dvh;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;

  .app-section {
    min-height: 100dvh;
    overflow: hidden;
    scroll-snap-stop: always;
    scroll-snap-align: start;
  }
  
}

@media (min-width: 1800px) {
  .app {
    .app-section {
      min-height: auto;
      min-height: auto;
    }
  }
}