html,
body {
  padding: 0 !important;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  background-color: var(--body-bg);
  color: var(--body-text);
  overflow-x: hidden;
  position: relative;
}

small {
  font-size: var(--font-size-sm);
}

.img-fluid {
  width: 100%;
  height: auto;
}

.scroll-content {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
}

.fade-in {
  transition: opacity 0.3s ease;
}

.fade-out {
  opacity: 0.7;
}

p {
  text-align: justify;
}

@media (min-width: 768px) {
  body {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}

@media (min-width: 992px) {
  body {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
  }
}